body > h1 {
    width: 100%;
    text-align: center;
    color: #1ca0ed;
}

.member-wrapper {
    width: 200px;
    height: 325px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    overflow: hidden;

    
}

.member-wrapper > img {
    width: 200px;
    height: 250px;
}

.team-wrapper {
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.member-text {
    padding: 15px;
}

.member-name {
    color: #1ca0ed;
    font-weight: bold;
}